/* WebFont */
@font-face {
  font-family: 'MyriadProLight';
  src: url("../fonts/MyriadPro-Light.otf");
}

@font-face {
  font-family: 'MyriadRegular';
  src: url("../fonts/MYRIADPRO-REGULAR.otf");
}

@font-face {
  font-family: 'MyriadSemiBold';
  src: url("../fonts/MYRIADPRO-SEMIBOLD.otf");
}

@font-face {
  font-family: 'MyriadProCondit';
  src: url("../fonts/MYRIADPRO-CONDIT.otf");
}

@font-face {
  font-family: 'Binggrae';
  src: url("../fonts/Binggrae.ttf");
}

@font-face {
  font-family: 'Binggrae-Bold';
  src: url("../fonts/BinggraeBold.ttf");
}

/*
 * This css file includes styles added in the jekyll port of this theme.
 * To find the original style.css that ships with Airspace, read airspace.css
 *
 */

 .italic {
   font-style: italic;
 }

 .bold {
   font-weight: bold;
 }

 .center-text {
   text-align: center;
 }

.post-area {
  padding: 40px;
  width: 100%;
  min-height: 150px;
  background-color: white;
  border-bottom: 1px dotted #ddd;
}

.post-area a:link, .post-area a:visited {
  font-size: 30px;
  color: #333;
}

.post-area a:hover {
  color: #0D0017;
}

/*Byoungsoo setting start*/
#post-bys {
  padding: 100px 1px;
}

/* Title */
#post-bys .block h1 {
  font-family: 'BinggraeBold';
  /* font-family: 'MyriadSemiBold'; */
  padding-top: 32px;
}

#post-bys .block h2 {
  padding-top: 35px;
  line-height: 27px;
  margin: 0;
}
#post-bys .block p {
  color: black;
  font-size: 18px;
  padding-top: 10px;
}

#post-bys .block .post-info-wrapper {
  font-family: 'Binggrae';
}

#post-bys .block li {
  font-size: 18px;
}

#post-bys .block strong {
  font-size: 20px;
}

#post-bys .block table {
  font-size: 18px;
}

#post-bys .block th {
  padding: 1rem 2rem;
  font-size: 18px;
  border: 0.5px solid #ddd;
  background-color: #d1d1d1;
}

#post-bys .block td {
  padding: 0.5rem 2rem;
  font-size: 18px;
  border: 0.5px solid #ddd;
  background-color: #ffffff;
}

#post-bys .section-title {
  margin-bottom: 0px;
}
#post-bys .section-title p {
  padding-top: 20px;
}

/* #post-bys .block img {
  padding-left: 40px;
  width: 100%;
} */

/*Byoungsoo setting end*/

#sero-img1{
  margin: 40px 0px 10px 0px !important;
  padding: 0px !important;
  width: 340px !important;
  height: 435px !important;
}
#sero-img2{
  margin: 40px 0px 10px 0px !important;
  padding: 0px !important;
  width: 400px !important;
  height: 525px !important;
} 

#sero-img3{
  margin: 40px 0px 10px 0px !important;
  padding: 0px !important;
  width: 510px !important;
  height: 680px !important;
}

#garo-img1{
  margin: 40px 0px 10px 0px !important;
  padding: 0px !important;
  width: 580px !important;
  height: 435px !important;
}

#garo-img2{
  margin: 40px 0px 10px 0px !important;
  padding: 0px !important;
  width: 700px !important;
  height: 525px !important;
}

#garo-img3{
  margin: 40px 0px 10px 0px !important;
  padding: 0px !important;
  width: 740px !important;
  height: 555px !important;
}

#schedule-img1{
  margin: 40px 0px 10px 0px !important;
  padding: 0px !important;
  width: 640px !important;
  height: 60px !important;
}


@media (max-width: 1200px) {
  #sero-img1{
    margin: 4rem 0px 1rem 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }
  #sero-img2{
    margin: 4rem 0px 1rem 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }

  #sero-img3{
    margin: 4rem 0px 1rem 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }

  #garo-img1{
    margin: 4rem 0px 1rem 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }

  #garo-img2{
    margin: 4rem 0px 1rem 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }

  #garo-img3{
    margin: 4rem 0px 1rem 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }

  #schedule-img1{
    margin: 4rem 0px 1rem 0px !important;
    padding: 0px !important;
    width: 100% !important;
    height: 60px !important;
  }


}
