exclude:
  - "/vendor/"
  - "Gemfile"
  - "Gemfile.lock"
  - "README.md"
  - "LICENSE.md"
  - "*.gemspec"

keep_files:
  - "CNAME"
  - ".git"
  - ".gitignore"

gems:
- jekyll/tagging

# Site settings
title: Bysoo GithubPage
subtitle: "Github Blog"

# the base hostname & protocol for your site
url: "https://byoungsoo.github.io"

# baseurl: "/the/subpath/of/your/site" # Set this value to "" if you want your site to be root
baseurl: ""
cover: "/assets/cover.png"
logo: "/assets/logo.png"

# Build settings
markdown: kramdown

descriptions:
  - cat: jekyll
    desc: "Posts describing Jekyll setup techniques."

  - cat: dummy
    desc: "Just some placeholder posts, lorem ipsum and the rest."



######Bysoo Customizing Setting######
# Google analytics
ga_tracking_id: "UA-137282255-1"

# Category
categories: category/

# Tagging
tag_page_layout: tagpage
tag_page_dir: tags

feed:
  path: feed.xml
