---
layout: page
title: Bys github
permalink: /
---

<!-- Slider Start -->
<!-- Top -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">
          <p class="animated fadeInUp"><br> Keep Calm and Think What I Love</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<!-- About Me tab -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>&lt;About Me&gt;</h2>
            <p> 
               1990.12.16<br/>
            </p>
          </div>
          <h2>Project</h2><br/>
          	 <b>2015.01.01 ~ 2018.12.31</b> - LG Electronics Oracle ERP Management / Analysis & Developer<br/>
             <b>2019.01.01 ~ 2020.06.30</b> - Korean Air AWS Cloud Migration / SWA<br/>
             <b>2019.07.01 ~ 2020.12.24</b> - LG Chemical AWS Cloud Migration / SWA<br/>
             <b>2021.01.01 ~ 2020.03.31</b> - Hanwha Life MSP / SWA<br/>

          <h2>Skills</h2><br/>
             <b>Forms, PLSQL<br/>
                Java<br/>
                Spring<br/>
                Linux<br/>
                AWS<br/></b>
        
          <br/><br/>
        </div>
      </div>

      <div class="col-md-12 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>&lt;Bucket List&gt;</h2>
            <p>Make Life what I love<br/></p>
          </div>
        </div>
      </div>  
        
        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="bucket-list">
              산티아고 순례길 걷기<br>
              영국에서 EPL 축구보기<br>
              그리스와 터키 재 방문 하기!<br>
              블로그 성공적으로 운영하기<br>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="block">
            <div class="bucket-list">
              스페인어로 일상 대화 해보기<br>
              생선손질 부터 초밥 만들어보기<br>
              아마추어 사진 작가<br>
              한 달에 한 권 책 읽기<br>
            </div>
          </div>
        </div>    
    </div>
  </div>
</section>
      <!-- .col-md-7 close -->

      <!--
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/home/aboutme1.jpg" alt="Img">
        </div>
      </div>
      -->
      <!-- .col-md-5 close -->



<!-- Third Tab About service-->
<!-- Bucket List Page origin -->
<!-- 
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>&lt;Bucket List&gt;</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <p class="service_align">
           산티아고 순례길 걷기<br>
           영국에서 EPL 축구보기<br>
           그리스와 터키 재 방문 하기!<br>
        </p>
      </div>
      
      <div class="col-sm-6 col-md-3">
        <p class="service_align">
           블로그 성공적으로 운영하기<br>
           스페인어로 일상 대화 해보기<br>
        </p>
      </div>

      <div class="col-sm-6 col-md-3">
        <p class="service_align">
           생선손질 부터 초밥 만들어보기<br>
           아마추어 사진 작가<br>
        </p>
      </div>

      <div class="col-sm-6 col-md-3">
        <p class="service_align">
          한 달에 한 권 책 읽기<br>
        </p>
      </div>

    
      
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
     

    </div>
  </div>
</section> -->



<!-- Second Tab -->
<!--
<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>


<!-- Call to action Start -->
<!--
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We design delightful digital experiences.</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="#" >Tell Us Your Story</a>
        </div>
      </div>
    </div>
  </div>
</section>
-->



<!-- Content Start -->
<!--
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
-->
