<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv='cache-control' content='no-cache'> 
<meta http-equiv='expires' content='0'> 
<meta http-equiv='pragma' content='no-cache'>
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />

<!-- Navigation Style -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/navigation-style.css" />
<!-- Contact Style -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/contact-style.css" />
<!-- Category Style -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/category-style.css" />
<!-- Tags Style -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/tags-style.css" />
<!-- Footer Style -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/footer-style.css" />
<!-- Home Style -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/home-style.css" />
<!-- Post Style -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/post-style.css" />

<!-- To change code block highligh change here.-->
<link rel="stylesheet" href="{{ site.baseurl }}/css/styles/github-gist.css">
<!-- <link rel="stylesheet" href="{{ site.baseurl }}/css/styles/github.css"> -->



<!-- Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/min/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


<!--Byoungsoo settings start-->
{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}
