<!-- Header Start -->
<header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- header Nav Start -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/index.html">   <!--Modified by ByoungsooKo add site.baseurl-->
              <img src="{{ site.baseurl }}/img/logo/logo5_c.png" alt="Logo">
            </a>
          </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">

              	<!-- Menu 1-->
              	<li><a href="{{ site.baseurl }}/">Home</a></li>

              	<!-- Menu 2-->
              	<li><a href="#">IT</a>
                  <ul class="nav-category">   <!--<div class="nav-category animated fadeInUp">-->
                     <!-- <li><a href="{{ site.baseurl }}/category/it/network">Network</a></li> -->
                     <li><a href="{{ site.baseurl }}/category/it/cloud">Cloud</a></li>
                     <li><a href="{{ site.baseurl }}/category/it/middleware">Middleware</a></li>
                     <li><a href="{{ site.baseurl }}/category/it/git">Git</a></li>
                     <li><a href="{{ site.baseurl }}/category/it/programming">Programming</a></li>
                     <li><a href="{{ site.baseurl }}/category/it/algorithm">Algorithm</a></li>
                	</ul>
                </li>

                <!-- Menu 3-->
                <li><a href="https://byoungsoo.tistory.com/" target="_blank" rel="noopener noreferrer">Travel</a></li>
                

                <!-- Menu 6-->
                <li><a href="{{ site.baseurl }}/category/contact">Contact</a></li>
                <!-- Menu 3-->
                <!--<li><a href="{{ site.baseurl }}/category/photo">Photo</a></li>-->

                <!-- Menu 4-->
                <!--
                <li><a href="{{ site.baseurl }}/category/travelA">Domestic Travel</a></li>
                -->

                <!-- Menu 5-->
                <!--
                <li><a href="#">Travel Abroad</a>
                  <div class="nav-category">
                	  <a href="{{ site.baseurl }}/category/travelB/greece">Greece</a>
                	  <a href="{{ site.baseurl }}/category/travelB/turkey">Turkey</a>
                  </div>
                </li>
                -->
                <!--<li><a href="#">Service</a></li> -->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
