---
layout: page
---

<div class="post">
  <!-- Wrapper Start -->
  <section id="post-bys" style="border: 1px dotted #ddd;">
    <div class="container">
      <div class="row">
          <div class="block">
            <h1>{{ page.title }}</h1>
            <div class="post-info-wrapper">
              <p class="italic">By <span class="bold">{{ page.author }}</span> on <span class="bold">{{ page.date | date: "%B %-d, %Y" }}</span></p>
            </div>
            <hr />
            <p>{{ content }}</p>
          </div>
          <span>[{% for tag in page.tags %}
    				{% capture tag_name %}{{ tag }}{% endcapture %}
    					<a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  					{% endfor %}]
	  			</span><br/><br/><br/>
          {% include comments.html %}
      </div>
    </div>
  </section></div>
<!--
<p class="center-text" style="padding: 30px;">
  <a href="{{ site.baseurl }}/tag">Back to blog</a>
</p>
-->
